[submodule "submodules/moonraker"]
	path = submodules/moonraker
	url = https://github.com/Arksine/moonraker
[submodule "submodules/buildroot"]
	path = submodules/buildroot
	url = git@github.com:ballaswag/k1_mod_buildroot_chroot.git
	branch = k1-main
[submodule "submodules/klipper"]
	path = submodules/klipper
        url = git@github.com:pellcorp/klipper.git
[submodule "submodules/KlipperScreen"]
	path = submodules/KlipperScreen
	url = git@github.com:consp/KlipperScreen.git
